.HomePage {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: #0e95eb;
}
.HomePage-logo {
    display: block;
    margin: 10% auto 20px;
    width: 35vw;
    height: 35vh;
}
.HomePage-search {
    display: flex;
    justify-content: center;
}
.HomePage-search-name {
    width: 30vw;
}
.HomePage-search-label, 
.HomePage-search-select, 
.HomePage-search-select svg,
.HomePage-search-input-text {
    color: white !important;
}
.HomePage-search-input {
    border-color: white !important;
}
.HomePage-search-select::before {
    border-color: white !important;
}